examples/02 - Write and Set Property.json
[
  {
    "id": "ce0cd7ca.88c938",
    "type": "tab",
    "label": "02 - Write and Set Property",
    "disabled": false,
    "info": ""
  },
  {
    "id": "85279b93.0f5ea",
    "type": "inject",
    "z": "ce0cd7ca.88c938",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "x": 110,
    "y": 220,
    "wires": [["3d9fdfd2.ab1088"]]
  },
  {
    "id": "9557179a.b886b8",
    "type": "blynk-ws-out-set-property",
    "z": "ce0cd7ca.88c938",
    "name": "",
    "pin": 100,
    "pinmode": "0",
    "prop": "bycode",
    "client": "8c06e199.b82b28",
    "x": 490,
    "y": 220,
    "wires": []
  },
  {
    "id": "725d19b.ae58868",
    "type": "blynk-ws-out-set-property",
    "z": "ce0cd7ca.88c938",
    "name": "on label V31",
    "pin": "31",
    "pinmode": "0",
    "prop": "onLabel",
    "client": "8c06e199.b82b28",
    "x": 270,
    "y": 360,
    "wires": []
  },
  {
    "id": "7b550a55.5aa064",
    "type": "inject",
    "z": "ce0cd7ca.88c938",
    "name": "bbb",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "bbb",
    "payloadType": "str",
    "x": 110,
    "y": 380,
    "wires": [["725d19b.ae58868", "a4124737.ae3038"]]
  },
  {
    "id": "a4124737.ae3038",
    "type": "blynk-ws-out-set-property",
    "z": "ce0cd7ca.88c938",
    "name": "off label V31",
    "pin": "31",
    "pinmode": "0",
    "prop": "offLabel",
    "client": "8c06e199.b82b28",
    "x": 270,
    "y": 420,
    "wires": []
  },
  {
    "id": "4240a789.350728",
    "type": "blynk-ws-out-set-property",
    "z": "ce0cd7ca.88c938",
    "name": "label V100",
    "pin": 100,
    "pinmode": "0",
    "prop": "label",
    "client": "8c06e199.b82b28",
    "x": 278,
    "y": 136,
    "wires": []
  },
  {
    "id": "9ac998d.46167e8",
    "type": "inject",
    "z": "ce0cd7ca.88c938",
    "name": "aaa",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "aaa",
    "payloadType": "str",
    "x": 110,
    "y": 120,
    "wires": [["4240a789.350728"]]
  },
  {
    "id": "c000ce1.be1e5b",
    "type": "inject",
    "z": "ce0cd7ca.88c938",
    "name": "OFF",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "x": 450,
    "y": 120,
    "wires": [["c409224a.3d7f6"]]
  },
  {
    "id": "43aed254.13be3c",
    "type": "inject",
    "z": "ce0cd7ca.88c938",
    "name": "ON",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "255",
    "payloadType": "num",
    "x": 450,
    "y": 160,
    "wires": [["c409224a.3d7f6"]]
  },
  {
    "id": "c409224a.3d7f6",
    "type": "blynk-ws-out-write",
    "z": "ce0cd7ca.88c938",
    "name": "Pin V100",
    "pin": "100",
    "pinmode": "0",
    "client": "8c06e199.b82b28",
    "x": 613,
    "y": 137,
    "wires": []
  },
  {
    "id": "d5bc0ad3.32f64",
    "type": "inject",
    "z": "ce0cd7ca.88c938",
    "name": "bbb",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "bbb",
    "payloadType": "str",
    "x": 110,
    "y": 160,
    "wires": [["4240a789.350728"]]
  },
  {
    "id": "78caf94d.715538",
    "type": "inject",
    "z": "ce0cd7ca.88c938",
    "name": "inject",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "x": 110,
    "y": 620,
    "wires": [["7f34da97.39d83c"]]
  },
  {
    "id": "52df49e1.585828",
    "type": "blynk-ws-out-set-property",
    "z": "ce0cd7ca.88c938",
    "name": "Set Labels",
    "pin": 102,
    "pinmode": "0",
    "prop": "labels",
    "client": "8c06e199.b82b28",
    "x": 430,
    "y": 620,
    "wires": []
  },
  {
    "id": "7f34da97.39d83c",
    "type": "function",
    "z": "ce0cd7ca.88c938",
    "name": "Labels Array",
    "func": "msg.payload=[\"lab 1\", \"lab 2\", \"lab 3\", \"lab 4\"];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 270,
    "y": 620,
    "wires": [["52df49e1.585828"]]
  },
  {
    "id": "5d612223.284fbc",
    "type": "comment",
    "z": "ce0cd7ca.88c938",
    "name": "Test property node for button labels - V32 Button",
    "info": "",
    "x": 220,
    "y": 300,
    "wires": []
  },
  {
    "id": "3d9fdfd2.ab1088",
    "type": "function",
    "z": "ce0cd7ca.88c938",
    "name": "set multiple",
    "func": "msg.color=\"#FF0000\";\nmsg.label=\"bbb\";\n\nmsg.min=\"0\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 270,
    "y": 220,
    "wires": [["9557179a.b886b8"]]
  },
  {
    "id": "4b81bcb2.c820ec",
    "type": "comment",
    "z": "ce0cd7ca.88c938",
    "name": "Test property node for menu labels - V102 MENU",
    "info": "",
    "x": 220,
    "y": 560,
    "wires": []
  },
  {
    "id": "1d828249.909f36",
    "type": "comment",
    "z": "ce0cd7ca.88c938",
    "name": "Test property node: single and multiple - V100 LED",
    "info": "",
    "x": 230,
    "y": 60,
    "wires": []
  },
  {
    "id": "a5fcb420.a1652",
    "type": "function",
    "z": "ce0cd7ca.88c938",
    "name": "set multiple",
    "func": "msg.onlabel=\"ON\";\nmsg.offlabel=\"OFF\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 270,
    "y": 480,
    "wires": [["71f36bbd.1dea8c"]]
  },
  {
    "id": "9058d774.03bb38",
    "type": "inject",
    "z": "ce0cd7ca.88c938",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "x": 110,
    "y": 480,
    "wires": [["a5fcb420.a1652"]]
  },
  {
    "id": "71f36bbd.1dea8c",
    "type": "blynk-ws-out-set-property",
    "z": "ce0cd7ca.88c938",
    "name": "",
    "pin": "31",
    "pinmode": "0",
    "prop": "bycode",
    "client": "8c06e199.b82b28",
    "x": 480,
    "y": 480,
    "wires": []
  },
  {
    "id": "60686e34.eae1c8",
    "type": "inject",
    "z": "ce0cd7ca.88c938",
    "name": "aaa",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "aaa",
    "payloadType": "str",
    "x": 450,
    "y": 380,
    "wires": [["46b07eb9.9e7bf"]]
  },
  {
    "id": "46b07eb9.9e7bf",
    "type": "blynk-ws-out-set-property",
    "z": "ce0cd7ca.88c938",
    "name": "off label V31",
    "pin": "31",
    "pinmode": "0",
    "prop": "offLabel",
    "client": "8c06e199.b82b28",
    "x": 610,
    "y": 380,
    "wires": []
  },
  {
    "id": "7c9cede6.5e94ec",
    "type": "inject",
    "z": "ce0cd7ca.88c938",
    "name": "error",
    "props": [
      {
        "p": "payload",
        "v": "0",
        "vt": "num"
      },
      {
        "p": "topic",
        "v": "",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "x": 110,
    "y": 760,
    "wires": [["f4ff3562.85f25"]]
  },
  {
    "id": "5d2ebecd.3afec",
    "type": "inject",
    "z": "ce0cd7ca.88c938",
    "name": "ok",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "255",
    "payloadType": "num",
    "x": 110,
    "y": 800,
    "wires": [["518df8dc.029528"]]
  },
  {
    "id": "f0eacb30.e525f8",
    "type": "comment",
    "z": "ce0cd7ca.88c938",
    "name": "Test Write node: dinamyc mode and error",
    "info": "",
    "x": 200,
    "y": 700,
    "wires": []
  },
  {
    "id": "f4ff3562.85f25",
    "type": "blynk-ws-out-write",
    "z": "ce0cd7ca.88c938",
    "name": "",
    "pin": 0,
    "pinmode": "1",
    "client": "8c06e199.b82b28",
    "x": 500,
    "y": 760,
    "wires": []
  },
  {
    "id": "518df8dc.029528",
    "type": "function",
    "z": "ce0cd7ca.88c938",
    "name": "",
    "func": "msg.payload  = 22\nmsg.pin  = 100\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 240,
    "y": 800,
    "wires": [["f4ff3562.85f25", "f0621ecd.eaec98"]]
  },
  {
    "id": "f0621ecd.eaec98",
    "type": "debug",
    "z": "ce0cd7ca.88c938",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 450,
    "y": 840,
    "wires": []
  },
  {
    "id": "4b6f8f37.1b7e2",
    "type": "inject",
    "z": "ce0cd7ca.88c938",
    "name": "int error",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "255",
    "payloadType": "num",
    "x": 110,
    "y": 840,
    "wires": [["3cecae35.ba6e7a"]]
  },
  {
    "id": "3cecae35.ba6e7a",
    "type": "function",
    "z": "ce0cd7ca.88c938",
    "name": "",
    "func": "msg.payload  = 22\nmsg.pin  = -100\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 240,
    "y": 840,
    "wires": [["f4ff3562.85f25", "f0621ecd.eaec98"]]
  },
  {
    "id": "998931b1.9cf6a",
    "type": "inject",
    "z": "ce0cd7ca.88c938",
    "name": "error",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "x": 110,
    "y": 900,
    "wires": [["da10d6be.87e78"]]
  },
  {
    "id": "8b63ac1a.34ab68",
    "type": "inject",
    "z": "ce0cd7ca.88c938",
    "name": "ok",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "255",
    "payloadType": "num",
    "x": 110,
    "y": 940,
    "wires": [["1fb4fa39.83e8c6"]]
  },
  {
    "id": "1fb4fa39.83e8c6",
    "type": "function",
    "z": "ce0cd7ca.88c938",
    "name": "",
    "func": "msg.payload  = '#FFFF00';\nmsg.pin  = 1\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 240,
    "y": 940,
    "wires": [["da10d6be.87e78"]]
  },
  {
    "id": "c31b9c48.306eb8",
    "type": "inject",
    "z": "ce0cd7ca.88c938",
    "name": "int error",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "255",
    "payloadType": "num",
    "x": 110,
    "y": 980,
    "wires": [["7e5c6de5.3bf894"]]
  },
  {
    "id": "7e5c6de5.3bf894",
    "type": "function",
    "z": "ce0cd7ca.88c938",
    "name": "",
    "func": "msg.payload  = 22\nmsg.pin  = -100\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 240,
    "y": 980,
    "wires": [["da10d6be.87e78"]]
  },
  {
    "id": "da10d6be.87e78",
    "type": "blynk-ws-out-set-property",
    "z": "ce0cd7ca.88c938",
    "name": "",
    "pin": 0,
    "pinmode": "1",
    "prop": "color",
    "client": "8c06e199.b82b28",
    "x": 520,
    "y": 900,
    "wires": []
  },
  {
    "id": "c99006ac.90a0c8",
    "type": "blynk-ws-in-write",
    "z": "ce0cd7ca.88c938",
    "name": "",
    "pin": "21",
    "pin_all": 0,
    "client": "8c06e199.b82b28",
    "x": 160,
    "y": 1120,
    "wires": [["969bed61.852d18"]]
  },
  {
    "id": "bad86128.93eab",
    "type": "blynk-ws-in-write",
    "z": "ce0cd7ca.88c938",
    "name": "",
    "pin": "20",
    "pin_all": true,
    "client": "8c06e199.b82b28",
    "x": 160,
    "y": 1180,
    "wires": [["734efd94.dd5fb4"]]
  },
  {
    "id": "969bed61.852d18",
    "type": "debug",
    "z": "ce0cd7ca.88c938",
    "name": "",
    "active": true,
    "console": false,
    "complete": "false",
    "x": 370,
    "y": 1120,
    "wires": []
  },
  {
    "id": "734efd94.dd5fb4",
    "type": "debug",
    "z": "ce0cd7ca.88c938",
    "name": "",
    "active": true,
    "console": false,
    "complete": "false",
    "x": 370,
    "y": 1180,
    "wires": []
  },
  {
    "id": "f798955efc30b2e4",
    "type": "comment",
    "z": "ce0cd7ca.88c938",
    "name": "Write event fixed pin and all pins",
    "info": "",
    "x": 170,
    "y": 1060,
    "wires": []
  },
  {
    "id": "8c06e199.b82b28",
    "type": "blynk-ws-client",
    "name": "Blynk Local Server 1",
    "path": "ws://your-local-server.ip/websockets",
    "key": "your-auth-token-here",
    "dbg_all": true,
    "dbg_read": false,
    "dbg_write": false,
    "dbg_notify": false,
    "dbg_mail": false,
    "dbg_prop": false,
    "dbg_sync": false,
    "dbg_bridge": false,
    "dbg_low": true,
    "dbg_pins": "",
    "multi_cmd": true,
    "proxy_type": "no",
    "proxy_url": "",
    "enabled": true
  }
]
