examples/03 - Sync and Bridge.json
[
  {
    "id": "a70849154e111e37",
    "type": "tab",
    "label": "03 - Sync and Bridge",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "13b03ff0a7cf4d9a",
    "type": "blynk-ws-out-sync",
    "z": "a70849154e111e37",
    "name": "",
    "pin": "21",
    "pinmode": 0,
    "client": "8c06e199.b82b28",
    "x": 300,
    "y": 100,
    "wires": []
  },
  {
    "id": "a8f5f69727971d24",
    "type": "inject",
    "z": "a70849154e111e37",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "x": 130,
    "y": 100,
    "wires": [["13b03ff0a7cf4d9a"]]
  },
  {
    "id": "31e1cfdeb70bdfe5",
    "type": "blynk-ws-out-sync",
    "z": "a70849154e111e37",
    "name": "",
    "pin": "21",
    "pinmode": "1",
    "client": "8c06e199.b82b28",
    "x": 290,
    "y": 160,
    "wires": []
  },
  {
    "id": "2799bcbaaacfaccf",
    "type": "inject",
    "z": "a70849154e111e37",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "x": 130,
    "y": 160,
    "wires": [["31e1cfdeb70bdfe5"]]
  },
  {
    "id": "0e0ef4ee43e38eee",
    "type": "blynk-ws-in-write",
    "z": "a70849154e111e37",
    "name": "",
    "pin": "0",
    "pin_all": 0,
    "client": "8c06e199.b82b28",
    "x": 170,
    "y": 360,
    "wires": [["75ce0aa363b9a248"]]
  },
  {
    "id": "75ce0aa363b9a248",
    "type": "debug",
    "z": "a70849154e111e37",
    "name": "",
    "active": true,
    "console": false,
    "complete": "true",
    "x": 350,
    "y": 360,
    "wires": []
  },
  {
    "id": "2d354edb9d51d8b3",
    "type": "blynk-ws-out-sync",
    "z": "a70849154e111e37",
    "name": "",
    "pin": "0",
    "pinmode": 0,
    "client": "8c06e199.b82b28",
    "x": 300,
    "y": 300,
    "wires": []
  },
  {
    "id": "9f8333af0234f369",
    "type": "inject",
    "z": "a70849154e111e37",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "x": 130,
    "y": 300,
    "wires": [["2d354edb9d51d8b3"]]
  },
  {
    "id": "4b6932c3ab373a93",
    "type": "comment",
    "z": "a70849154e111e37",
    "name": "Example Sync and SyncAll",
    "info": "",
    "x": 150,
    "y": 40,
    "wires": []
  },
  {
    "id": "db1f1bbafe42e1e4",
    "type": "comment",
    "z": "a70849154e111e37",
    "name": "Example send sync and and receive message",
    "info": "",
    "x": 210,
    "y": 240,
    "wires": []
  },
  {
    "id": "22df800db1fa690d",
    "type": "blynk-ws-out-bridge",
    "z": "a70849154e111e37",
    "name": "",
    "key": "your-api-token-2-here",
    "bpin": "2",
    "pin": "18",
    "pinmode": 0,
    "pintype": "vw",
    "client": "8c06e199.b82b28",
    "x": 300,
    "y": 520,
    "wires": []
  },
  {
    "id": "82094e31a35f1c8b",
    "type": "inject",
    "z": "a70849154e111e37",
    "name": "",
    "props": [
      {
        "p": "payload",
        "v": "true",
        "vt": "bool"
      },
      {
        "p": "topic",
        "v": "",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "x": 130,
    "y": 520,
    "wires": [["22df800db1fa690d"]]
  },
  {
    "id": "503b043884884813",
    "type": "comment",
    "z": "a70849154e111e37",
    "name": "Example send true to virtual pin 18 on other device with bridge",
    "info": "",
    "x": 270,
    "y": 460,
    "wires": []
  },
  {
    "id": "8c06e199.b82b28",
    "type": "blynk-ws-client",
    "name": "Blynk Cloud 1",
    "path": "ws://blynk-cloud.com/websockets",
    "key": "your-auth-token-here",
    "dbg_all": true,
    "dbg_read": false,
    "dbg_write": false,
    "dbg_notify": false,
    "dbg_mail": false,
    "dbg_prop": false,
    "dbg_sync": false,
    "dbg_bridge": false,
    "dbg_low": true,
    "dbg_pins": "",
    "multi_cmd": true,
    "proxy_type": "no",
    "proxy_url": "",
    "enabled": true
  }
]
